<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <title><%= t("My fishing stats") %></title>
  </head>
  <body>
    <%-include ("partials/header")%>
    <section class="catch-section">
      <div class="form-container">
        <h1 class="primary"><%= t("Register your catch") %></h1>
        <form method="post" action="/catch">
          <div class="fields">
            <label class="labels"><%= t("Species") %>*:</label>
            <input
              class="inputs"
              type="text"
              name="species"
              autofocus
              required
            />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Length")%> (cm):</label>
            <input class="inputs" type="text" name="length" />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Weight")%> (gram):</label>
            <input class="inputs" type="text" name="weight" />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Bait")%> *:</label>
            <input class="inputs" type="text" name="bait" required />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Colour")%>:</label>
            <input class="inputs" type="text" name="colour" />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Lake") %>*:</label>
            <input class="inputs" type="text" name="lake" required />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Date (YYYY-MM-DD)") %>*:</label>
            <input class="inputs" type="text" name="date" required />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Time (HHMM)")%>:</label>
            <input class="inputs" type="text" name="time" />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Windstrength")%>:</label>
            <input class="inputs" type="text" name="windstrength" />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Winddirection")%>:</label>
            <input class="inputs" type="text" name="winddirection" />
          </div>

          <div class="fields">
            <label class="labels"><%= t("hPa")%>:</label>
            <input class="inputs" type="text" name="hpa" />
          </div>

          <div class="fields">
            <label class="labels"><%= t("Weather")%>:</label>
            <input class="inputs" type="text" name="weather" />
          </div>
          <div class="form-btns">
            <button class="form-btn reset-btn"><%= t("Reset")%></button>
            <button class="form-btn submit-btn"><%= t("Submit")%></button>
          </div>
        </form>
         <% if (locals.success) { %>
        
        <div class="success">
          <span class="success-text"><%= success %></span> </div>
     <% } %>

     
      </div>
     
    </section>
    <script src="js/script.js"></script>
    <!-- <%-include("partials/footer") %> -->
  </body>
</html>
