<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <title>My fishing stats</title>
  </head>
  <body>
    <%-include ("partials/header")%>
    <section class="stats-section">
      <div class="stats-headlines">
        <h2 class="titles">Pikes</h2>
      </div>
      <div class="stats-container">
        
        <div class="stats-group">
          <div>

            <!-- ----------PIKES ------------>
            <!-- Heaviest pike-->
             
            <h3 class="stats-group-h3">Heaviest pike totally</h3>
              <% pikeByWeight.forEach((fish, index) => { %>
                <div class="results">
                  <p class="results-text">
                    <%= index + 1 %>. Weight: <%= fish.weight %> g
                
                  </p>
                  <p class="results-text">
                    Date: <%= fish.date %>
                  </p>
                </div>
              <% }) %>
          </div>
          <hr class="divider">

          <!-- Heaviest PIKE this year -->
          <h3 class="stats-group-h3">Heaviest pike this year</h3>
            <% pikeByWeightThisYear.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                 <%= index + 1 %>. Weight: <%= fish.weight %> g 
                 
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
            <% }) %>
        </div>

          <!-- Longest Pike -->
        <div class="stats-group">
          <h3 class="stats-group-h3">Longest pike totally</h3>
            <% pikeByLength.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Length: <%= fish.length %> cm 
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
            <% }) %>
          <hr class="divider">

            <!-- Longest pike this year -->
          <h3 class="stats-group-h3">Longest pike this year</h3>
            <% pikeByLengthThisYear.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Length: <%= fish.length %> cm 
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
            <% }) %>
        </div>
      </div>
      
        <!-- ----------PERCH ------------>
         <div class="stats-headlines">
        <h2 class="titles">Perch</h2>
      </div>
         <!-- Heaviest perch-->
      <div class="stats-container">
        <div class="stats-group">
          <h3 class="stats-group-h3">Heaviest perch totally</h3>
            <% perchByWeight.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Weight: <%= fish.weight %> g
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
            <% }) %>
          <hr class="divider">

              <!-- Heaviest perch this year -->
          <h3 class="stats-group-h3">Heaviest perch this year</h3>
            <% perchByWeightThisYear.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Weight: <%= fish.weight %> g
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
            <% }) %>
        </div>

        <!-- Longest perch-->
        <div class="stats-group">
          <h3 class="stats-group-h3">Longest perch totally</h3>
            <% perchByLength.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Length: <%= fish.length %> cm 
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
            <% }) %>
            <hr class="divider">

              <!-- Longest perch this year -->
          <h3 class="stats-group-h3">Longest perch this year</h3>
          <% perchByLengthThisYear.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Length: <%= fish.length %> cm 
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
              <% }) %>
        </div>
      </div>
        <!------------ ZANDERS ------------>
        <div class="stats-headlines">
        <h2 class="titles">Zander</h2>
      </div>
        <!-- Heaviest zander -->
      <div class="stats-container">
        <div class="stats-group">
           <h3 class="stats-group-h3">Heaviest zander totally</h3>
              <% zanderByWeight.forEach((fish, index) => { %>
                <div class="results">
                  <p class="results-text">
                    <%= index + 1 %>. Weight: <%= fish.weight %> g
                  </p>
                  <p class="results-text">
                    Date: <%= fish.date %>
                  </p>
                </div>
              <% }) %>
            <hr class="divider">

          <!-- Heaviest zander this year -->
          <h3 class="stats-group-h3">Heaviest zander this year</h3>
          <% zanderByWeightThisYear.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Weight: <%= fish.weight %> g
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
              <% }) %>
        </div>

        <!-- Longest zander -->
        <div class="stats-group">
          <h3 class="stats-group-h3">Longest zander totally</h3>
            <% zanderByLength.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Length: <%= fish.length %> cm 
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
            <% }) %>
            <hr class="divider">

          <!-- Longest zander this year -->
          <h3 class="stats-group-h3">Longest zander this year</h3>
          <% zanderByLengthThisYear.forEach((fish, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. Length: <%= fish.length %> cm 
                </p>
                <p class="results-text">
                  Date: <%= fish.date %>
                </p>
              </div>
              <% }) %>
        </div>
      </div>
        <!------------ LURES ------------>
      <div class="stats-headlines">
        <h2 class="titles">Lures and colours</h2>
      </div>
      <div class="stats-container">
        <!-- Most used baits -->
        <div class="stats-group">
          <h3 class="stats-group-h3">Best lure totally</h3>
            <% baitStats.forEach((bait, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. <%= bait.bait %> 
                </p>
              </div>
            <% }) %>
          <hr class="divider">

        <!-- Most used baits this year -->
          <h3 class="stats-group-h3">Best lure this year</h3>
            <% baitStatsThisYear.forEach((bait, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. <%= bait.bait %> 
                </p>
              </div>
            <% }) %>
        </div>

        <!------------ COLOURS ------------>
        <div class="stats-group">
          <!-- Most used colours -->
          <h3 class="stats-group-h3">Best colour totally</h3>
            <% colourStats.forEach((colour, index) => { %>
              <div class="results">
                <p class="results-text">
                  <%= index + 1 %>. <%= colour.colour %> 
                </p>
              </div>
            <% }) %>
            <hr class="divider">

          <!-- Most used colours this year -->
          <h3 class="stats-group-h3">Best colour this year</h3>
          <% colourStatsThisYear.forEach((colour, index) => { %>
                <div class="results">
                  <p class="results-text">
                    <%= index + 1 %>. <%= colour.colour %> 
                  </p>
                </div>
                <% }) %>
        </div>
      </div>
    </section>
    <script src="js/script.js"></script>
    <!-- <%-include("partials/footer") %> -->
  </body>
</html>
